<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>CareBook</title>
    <link rel="stylesheet" href="../CSS/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../CSS/DoctorHomeStyle.css">
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-inverse bg-light">
      <a class="navbar-brand" href="#">CareBook</a>
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <button class="navbar-toggler toggler-example purple darken-3" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent41" aria-controls="navbarSupportedContent41" aria-expanded="false"
        aria-label="Toggle navigation"><span class="white-text"><i class="fas fa-bars fa-1x"></i></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="#">Mr X <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Parsonal Details</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">Change Area</a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" href="SignUp.html">Sign Out</a>
          </li>
        </ul>
      </div>
    </nav>
	<nav class="navbar navbar-expand-lg navbar-inverse bg-light">
      <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button> -->
      <button class="navbar-toggler toggler-example purple darken-3" type="button" data-toggle="collapse"
        data-target="#navbarSupportedContent41" aria-controls="navbarSupportedContent41" aria-expanded="false"
        aria-label="Toggle navigation"><span class="white-text"><i class="fas fa-bars fa-1x"></i></span>
      </button>

      <div id="nav1" align="left">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a class="nav-link" href="index.html">Home <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="workList.html">Work List<span class="sr-only">(current)</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="report.html">Reports </a>
          </li> 
		  <li class="nav-item">
            <a class="nav-link" href="#">Export</a>
          </li>
          
        </ul>
      </div>
    </nav>

   <!-- main table for home page -->
    <table width="100%" >
	
	<tr width="100%">
		<td colspan="2" width="100%" height="10" bgcolor="lightblue">
		<h1>Work List(0)</h1>
		</td>
	</tr>

	<tr width="100%">
		<td width="70%" height="450"  >
			<div style="background-color:tomato; height:10%">
				<nav class="navbar navbar-expand-lg navbar-inverse bg-light">
				  <!-- <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				  </button> -->
				  <button class="navbar-toggler toggler-example purple darken-3" type="button" data-toggle="collapse"
					data-target="#navbarSupportedContent41" aria-controls="navbarSupportedContent41" aria-expanded="false"
					aria-label="Toggle navigation"><span class="white-text"><i class="fas fa-bars fa-1x"></i></span>
				  </button>

				  <div id="nav2" align="left">
					<ul class="navbar-nav ml-auto">
					  <li class="nav-item">
						<a class="nav-link" href="#">In progress<span class="sr-only">(current)</span></a>
					  </li>
					  
				  </div>
				</nav>
			</div>
			<div style=" height:90%; padding:5%">
				<table>
					<tr>
						<th>Id</th>
						<th>Hospital</th>
						<th>DoB</th>
						<th>Procced</th>
					</tr>
					<tr>
						<form>
							<td>
								<input type="number" name="id" min="0" >
							</td>
							<td>
								<select name="cars">
								  <option value="volvo">Volvo</option>
								  <option value="saab">Saab</option>
								  <option value="fiat">Fiat</option>
								  <option value="audi">Audi</option>
								</select>
							</td>
							<td>
								<input type="date">
								
							</td>
							<td>
								
								<input type="submit" name="procced" value="submit">
							</td>
						</form>
					</tr>
				</table>
			</div>
		</td>
		<td width="30%" height="450" >
			<div style="pading-left:10%; height:16%">
				<div style="float:left; width:10%" >
					<img src="../Images/doctor_518869.png" alt="Smiley face" height="42" width="42">
				</div>
				<div style="float:right; width:90%">
					<a href="#">My studies</a>
				</div>
			</div>
			<div style="pading:5%; height:16%">
				<div style="float:left; width:10%" >
					<img src="../Images/doctor_518869.png" alt="Smiley face" height="42" width="42">
				</div>
				<div style="float:right; width:90%">
					<a href="#">All studies</a>
				</div>
			</div>
			<div style="pading:5%; height:16%">
				<div style="float:left; width:10%" >
					<img src="../Images/doctor_518869.png" alt="Smiley face" height="42" width="42">
				</div>
				<div style="float:right; width:90%">
					<a href="#">Hospital</a>
				</div>
			</div>
			<div style="pading:5%; height:16%">
				<div style="float:left; width:10%" >
					<img src="../Images/doctor_518869.png" alt="Smiley face" height="42" width="42">
				</div>
				<div style="float:right; width:90%">
					<a href="#">Pending / Completed</a>
				</div>
			</div>
			<div style="pading:5%; height:16%">
				<div style="float:left; width:10%" >
					<img src="../Images/doctor_518869.png" alt="Smiley face" height="42" width="42">
				</div>
				<div style="float:right; width:90%">
					<a href="#">Mortality</a>
				</div>
			</div>
			<div style="pading:5%; height:16%">
				<div style="float:left; width:10%" >
					<img src="../Images/doctor_518869.png" alt="Smiley face" height="42" width="42">
				</div>
				<div style="float:right; width:90%">
					<a href="#">Criticalaty</a>
				</div>
			</div>
			
		</td>
	</tr>
	
       
    </table>

    
  </body>
</html>
