<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Pricing</title>
    <link rel="stylesheet" href="css/all.css">
    <link rel="stylesheet" href="css/style.css">
</head>
<body>
   
        
        <!-------------------------------------- packge part start------------------------------->
        <div class="full-wrapper packge-bg">
            <div class="wrapper">
                <div class="packge1">
                    <div class="one">
                        <p>Basic</p>
                    </div>
                    <div class="two">
                        <p>$5.01/ Month</p>
                    </div>
                    <div class="three">
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="three">
                        <p>Dolor sit amet, consect</p>
                    </div>
                    <div class="three">
                        <p>Adipiscing elit</p>
                    </div>
                    <div class="three">
                        <p>Proin commodo turpis</p>
                    </div>
                    <div class="three">
                        <p>lacus pulvinarvel</p>
                    </div>
                    <div class="three">
                        <p>Prnare nisi pretium.</p>
                    </div>
                    <div class="nine">
                        <a href="#">Buy now</a>
                    </div>
                    
            </div>
            
            
            <!-------------------------------->
           
            <div class="packge2">
                    <div class="one2">
                        <p>Pro</p>
                    </div>
                    <div class="two">
                        <p>$10.01/ Month</p>
                    </div>
                    <div class="three">
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="three">
                        <p>Dolor sit amet, consect</p>
                    </div>
                    <div class="three">
                        <p>Adipiscing elit</p>
                    </div>
                    <div class="three">
                        <p>Proin commodo turpis</p>
                    </div>
                    <div class="three">
                        <p>lacus pulvinarvel</p>
                    </div>
                    <div class="three">
                        <p>Prnare nisi pretium.</p>
                    </div>
                    <div class="nine1">
                        <a href="#">Buy now</a>
                    </div>
            </div>
             <!-------------------------------->
             <div class="packge3">
                    <div class="one">
                        <p>Premium</p>
                    </div>
                    <div class="two">
                        <p>$10.01/ Month</p>
                    </div>
                    <div class="three">
                        <p>Lorem ipsum</p>
                    </div>
                    <div class="three">
                        <p>Dolor sit amet, consect</p>
                    </div>
                    <div class="three">
                        <p>Adipiscing elit</p>
                    </div>
                    <div class="three">
                        <p>Proin commodo turpis</p>
                    </div>
                    <div class="three">
                        <p>lacus pulvinarvel</p>
                    </div>
                    <div class="three">
                        <p>Prnare nisi pretium.</p>
                    </div>
                    <div class="nine">
                        <a href="#">Buy now</a>
                    </div>
            </div>
             <div class="clr"></div>
        </div>
    </div>
        <!-------------------------------------- packge part end------------------------------->
        
        
</body>
</html>