<html>
<head>
<link href="CSS/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="CSS/DoctorSignUp.css" rel="stylesheet"  > 
<script src="CSS/bootstrap/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="JS/DoctorSignUp.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
<div class="container" >
            <form class="form-horizontal" role="form">

                <h2>Doctor Registration</h2>
                <div  id="main">
                <div class="form-group">
                    <label for="nid" class="col-sm-3 control-label">BMDC No. </label>
                    <div class="col-sm-9">
                        <input type="number" id="nid" placeholder="1098657893" class="form-control">
                        <span class="help-block">Your BMDC Number won't be disclosed anywhere </span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="nid" class="col-sm-3 control-label">NID No./Birth Certificate No. </label>
                    <div class="col-sm-9">
                        <input type="number" id="nid" placeholder="19876452903541786/199676541267" class="form-control">
                        <span class="help-block">Your NID number/Birth Certificate Number won't be disclosed anywhere </span>
                    </div>
                </div>
				

             
                 
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Required fields</span>
						
                    </div>
                </div>
                </div>
				<div align=center>
                <button type="submit" class="" id="">Submit</button>
                <button type="submit" class="" id="">Back</button>
				</div>
				<p style="text-align:right">page 2 of 2</p>
            </form> <!-- /form -->
        </div> <!-- ./container -->
</body>
</html>