<html>
<head>
<link href="CSS/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="CSS/SignUp.css" rel="stylesheet"  > 
<script src="CSS/bootstrap/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="JS/SignUp.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
<div class="container" >
            <form class="form-horizontal" role="form" action="SignUp1.html">

                <h2>Patient Registration</h2>
                <div  id="main">
                
                
				<div class="form-group">
                    <label for="nid" class="col-sm-3 control-label">NID No./Birth Certificate No. </label>
                    <div class="col-sm-9">
                        <input type="number" id="nid" placeholder="NID No./Birth Certificate No." class="form-control">
                        <span class="help-block">Your NID number/Birth Certificate Number won't be disclosed anywhere </span>
                    </div>
                </div>
				

			  <div class="form-group">
                        <label for="Height" class="col-sm-3 control-label">Type </label>
                    <div class="col-sm-9">
                        <select>
							<option value="Blood">Blood</option>
							<option value="Serum">Serum</option>
							<option value="plasma">plasma</option>
							<option value="urine">urine</option>
							<option value="stool">stool</option>
						</select>
                    </div>
                </div>
                 
                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Required fields</span>
                    </div>
                </div>
                </div>
				<button type="submit" class="" id="">Submit</button>
                <button type="submit" class="" id="">Back</button>
				
				<p style="text-align:right">page 2 of 2</p>
				</form> <!-- /form -->
        </div> <!-- ./container -->
</body>
</html>