<html>
<head>
<link href="CSS/bootstrap/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<link href="CSS/SignUp.css" rel="stylesheet"  > 
<script src="CSS/bootstrap/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
<script src="JS/SignUp.js"></script>
<!------ Include the above in your HEAD tag ---------->
</head>
<body>
<div class="container" >
            <form class="form-horizontal" role="form" method="post" action="../controler/Insert.php" enctype="multipart/form-data">

                <h2>Technician Registration</h2>
                <div  id="main">
                
                
                <div class="form-group">
                    <label for="select" class="col-sm-3 control-label">Select </label>
                    <div class="col-sm-9">
                        <select name="type">
                            <option value="NID">NID</option>
                            <option value="BirthCer">Birth Certificate</option>
                            <option value="Passport">Passport No</option>
                        </select>
                    </div>
                    <label for="center" class="col-sm-3 control-label"></label>
                    <div class="col-sm-9">
                        <input type="number" id="center" name="center" placeholder="Center No." class="form-control">
                        
                    </div>
                </div>
                <div class="form-group">
                    <label for="nid" class="col-sm-3 control-label">Select image: </label>
                    <input type="file" name="file" id="fileToUpload">
                    
                </div>
                

                <div class="form-group">
                    <div class="col-sm-9 col-sm-offset-3">
                        <span class="help-block">*Required fields</span>
                    </div>
                </div>
                </div><!-- 
                <button type="submit" class="" id="">Submit</button>
                <button type="submit" class="" id="">Back</button> -->
                <input type="submit" name="submit" value="submit">
                <input type="submit" value="Back" name="Back">
                
                <p style="text-align:right">page 2 of 2</p>
                </form> <!-- /form -->
        </div> <!-- ./container -->
</body>
</html>